<section class="art-galleries">
    <article class="">
        <ul>
            <% for (var index = 0; index < data.length; index++){%>
                <li class=" art-expo-tile <%= data[index].artstyle.toLowerCase() %>">

                    <div class="location-bg" style="background-image: url(/assets/expo-covers/<%= data[index].cover %>)"></div>
                    <a href="/art-galleries/<%= data[index]._id %>">
                        <figure>
                            <img src="/assets/expo-covers/<%= data[index].cover %>" class="backup-img" alt="" width="90%">
                            <figcaption><%= data[index].artist %> cover</figcaption>
                        </figure>
                    <header>
                        <p class="title"><%= data[index].artist %></p>
                        <p class="Location"><%= data[index].location %></p>
                    </header>
                    </a>
                    <br/>
                </li>
            <% } %>
        </ul>
    </article>
</section>
