<html lang="nl">
<head>
    <% include partials/head %>
</head>
<body>
    <nav class="default">
        <% if (user) { %>
        <div class="settings">
            <a href="/settings"></a>
        </div>
        <% } %>
        <div class="logo">
            <a href="../"><img src="../assets/logo.png" alt="site logo"></a>
        </div>
        <% if (user) { %>
        <div class="logout">
            <a href="/log-out"></a>
        </div>
        <% } %>
    </nav>
    <header>
        <% if (data) { %>
            <img alt=""src="/upload/<%= data.cover %>" class="header-bg">
        <% } else { %>
            <img src="../assets/profile.jpg" alt="" class="header-bg">
        <% }%>


        <div class="gradient-mask"></div>
        <% if (data) { %>
        <h1><%= data.name %></h1>
        <% } else { %>
        <h1>Martin de Jongh</h1>
        <% }%>
    </header>
    <main>
        <section class="personal-info">
            <article class="">
                <ul>
                    <% if (data) { %>
                        <li><%= data.job %></li>
                        <li><%= data.location %></li>
                        <li><%= data.favArtist %></li>
                    <% } else { %>
                        <li>Job title</li>
                        <li>Location</li>
                        <li>Favorite artist</li>
                    <% }%>
                </ul>
            </article>
        </section>
        <section class="art-gallery">
            <article class="">
                <header>
                    <h2>Waar wil ik heen?</h2>
                </header>
                <ul>
                    <% if (user) { %>
                        <% if (user.name == id) { %>
                            <li><a href="/art-galleries">+</a></li>
                        <% }  %>
                    <% } %>
                    <% if (data.expoWishlist) { %>
                    <% include partials/expoTile %>
                    <% } %>
                </ul>
                <footer>
                    Bewerken..
                </footer>
            </article>
        </section>
        <section class="art-gallery">
            <article class="">
                <header>
                    <h2>Welke werken vind ik interessant?</h2>
                </header>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <footer>
                    Bewerken..
                </footer>
            </article>
        </section>
    </main>


    
</body>
</html>
